.file {
    padding: 8;
    border-bottom: 1px solid #dddddd;
}

.section {
    margin-bottom: 1.5em;
}

.ui-selected { 
    background: #007fff; 
    color: white; 
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
}

#permdialog_objname, #adv_perm_object_name, #adv_effective_object_name, #adv_owner_object_name, #permdialog_advanced_explantion_text, #full_control_alert{
    font-size: 0.8em;
    font-style: italic;
}

#full_control_alert{
    margin-bottom: 0.2em;
}

#permissions_user_title, #adv_owner_change_owner_text{
    margin-bottom: 0.4em;
    font-weight: 600;
}

#perm_add_user_line, #adv_perm_edit {
    display: block;
    width: fit-content;
    margin-bottom: 2em;
    margin-left: auto; 
    margin-right: 0;
}

#permdialog_grouped_permissions, #adv_perm_table_container, #adv_perm_inheritance_div{
    margin-bottom: 0.4em;
}

#permdialog_grouped_permissions th{
    font-size: 0.8em;
}

#mturk-top-banner-drop-down-content {
    position: absolute;
    width: 99%;
    bottom: 0px;
    top:unset;
    left: 0;
    background-color: #eee;
    z-index: 100;
    padding: 10px 10px 10px 10px;
    border-left: 1px orange solid;
    border-right: 1px orange solid;
    border-top: 1px orange solid;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}